USE [PetMatchStorage]
GO

/****** Object:  Table [dbo].[Product]    Script Date: 05/08/2014 08:37:27 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Product_StateEntity]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
	ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_StateEntity]
GO

IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_StateEntity_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateEntity]'))
BEGIN
	IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_StateEntity_ID]') AND type = 'D')
	BEGIN
		ALTER TABLE [dbo].[StateEntity] DROP CONSTRAINT [DF_StateEntity_ID]
	END
END
GO

IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_StateEntity_DateCreated]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateEntity]'))
BEGIN
	IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_StateEntity_DateCreated]') AND type = 'D')
	BEGIN
		ALTER TABLE [dbo].[StateEntity] DROP CONSTRAINT [DF_StateEntity_DateCreated]
	END
END
GO

IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_StateEntity_Visible]') AND parent_object_id = OBJECT_ID(N'[dbo].[StateEntity]'))
BEGIN
	IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_StateEntity_Visible]') AND type = 'D')
	BEGIN
		ALTER TABLE [dbo].[StateEntity] DROP CONSTRAINT [DF_StateEntity_Visible]
	END
END
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateEntity]') AND type in (N'U'))
BEGIN
	DROP TABLE [dbo].[StateEntity]
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StateEntity]') AND type in (N'U'))
BEGIN
	CREATE TABLE [dbo].[StateEntity](
		[ID] [uniqueidentifier] NOT NULL,
		[Name] [nvarchar](100) NOT NULL,
		[DateCreated] [datetime] NOT NULL,
		[CreatedBy] [nvarchar](256) NOT NULL,
		[LastUpdated] [datetime] NULL,
		[LastUpdatedBy] [nvarchar](256) NULL,
		[Visible] bit NOT NULL,
	 CONSTRAINT [PK_StateEntity] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	) ON [PRIMARY]
END
GO

ALTER TABLE [dbo].[StateEntity] ADD  CONSTRAINT [DF_StateEntity_ID]  DEFAULT (newid()) FOR [ID]
GO

ALTER TABLE [dbo].[StateEntity] ADD  CONSTRAINT [DF_StateEntity_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO

ALTER TABLE [dbo].[StateEntity] ADD  CONSTRAINT [DF_StateEntity_Visible]  DEFAULT (0) FOR [Visible]
GO

INSERT [dbo].[StateEntity] ([ID], [Name], [DateCreated], [CreatedBy], [LastUpdated], [LastUpdatedBy], [Visible]) VALUES (N'9fdfc32d-1174-4727-9138-f528a4d48c12', N'Aguascalientes', CAST(0x0000A32400FF22D4 AS DateTime), N'dcruz', NULL, NULL, 1)
INSERT [dbo].[StateEntity] ([ID], [Name], [DateCreated], [CreatedBy], [LastUpdated], [LastUpdatedBy], [Visible]) VALUES (N'c98d0bdf-7c5b-4ce5-8aef-fa479f382fc5', N'Baja California', CAST(0x0000A32400FF3242 AS DateTime), N'dcruz', NULL, NULL, 1)
INSERT [dbo].[StateEntity] ([ID], [Name], [DateCreated], [CreatedBy], [LastUpdated], [LastUpdatedBy], [Visible]) VALUES (N'd5af39eb-e9a2-4d1f-8b9c-e257f2c79780', N'Baja California Sur', CAST(0x0000A32400FF3CA2 AS DateTime), N'dcruz', NULL, NULL, 1)
