USE [PetMatchStorage]
GO

/****** Object:  Table [dbo].[Product]    Script Date: 05/08/2014 08:37:27 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Product_Province]') AND parent_object_id = OBJECT_ID(N'[dbo].[Product]'))
	ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Province]
GO

IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Province_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Province]'))
BEGIN
	IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Province_ID]') AND type = 'D')
	BEGIN
		ALTER TABLE [dbo].[Province] DROP CONSTRAINT [DF_Province_ID]
	END
END
GO

IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Province_DateCreated]') AND parent_object_id = OBJECT_ID(N'[dbo].[Province]'))
BEGIN
	IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Province_DateCreated]') AND type = 'D')
	BEGIN
		ALTER TABLE [dbo].[Province] DROP CONSTRAINT [DF_Province_DateCreated]
	END
END
GO

IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Province_Visible]') AND parent_object_id = OBJECT_ID(N'[dbo].[Province]'))
BEGIN
	IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Province_Visible]') AND type = 'D')
	BEGIN
		ALTER TABLE [dbo].[Province] DROP CONSTRAINT [DF_Province_Visible]
	END
END
GO

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Province]') AND type in (N'U'))
BEGIN
	DROP TABLE [dbo].[Province]
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF  NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Province]') AND type in (N'U'))
BEGIN
	CREATE TABLE [dbo].[Province](
		[ID] [uniqueidentifier] NOT NULL,
		[StateID] [uniqueidentifier] NOT NULL,
		[Name] [nvarchar](100) NOT NULL,
		[DateCreated] [datetime] NOT NULL,
		[CreatedBy] [nvarchar](256) NOT NULL,
		[LastUpdated] [datetime] NULL,
		[LastUpdatedBy] [nvarchar](256) NULL,
		[Visible] bit NOT NULL,
	 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	) ON [PRIMARY]
END
GO

ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [DF_Province_ID]  DEFAULT (newid()) FOR [ID]
GO

ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [DF_Province_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO

ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [DF_Province_Visible]  DEFAULT (0) FOR [Visible]
GO

INSERT [dbo].[Province] ([ID], [StateID], [Name], [DateCreated], [CreatedBy], [LastUpdated], [LastUpdatedBy], [Visible]) VALUES (N'dfd8c335-db38-4a49-8e59-000a5fca9129', N'da4008e4-dde4-45d1-8524-229a1de77572', N'San Miguel Aloápam', CAST(0x0000A32400FFEC72 AS DateTime), N'dcruz', NULL, NULL, 1)
INSERT [dbo].[Province] ([ID], [StateID], [Name], [DateCreated], [CreatedBy], [LastUpdated], [LastUpdatedBy], [Visible]) VALUES (N'64037082-5fbb-4019-a1fb-0075243172f2', N'12228e5b-5d9c-4fa3-afbd-4b37ab767163', N'Chocholá', CAST(0x0000A32401003C49 AS DateTime), N'dcruz', NULL, NULL, 1)
INSERT [dbo].[Province] ([ID], [StateID], [Name], [DateCreated], [CreatedBy], [LastUpdated], [LastUpdatedBy], [Visible]) VALUES (N'c35774e0-b97d-4fe2-83e2-008f3363199e', N'da4008e4-dde4-45d1-8524-229a1de77572', N'San Miguel Ejutla', CAST(0x0000A32400FFEC72 AS DateTime), N'dcruz', NULL, NULL, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
