label.__required {
    display: inline-block;
}
span.__required {
    display: inline-block;
    margin-left: 0.25em; 
}
div.__required {
    width: 100%;
}
.validation-summary-errors{
    margin-top: 1em;
}
.validation-summary-errors ul li {
    color: #c00 ;
}