@using PetMatch.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">Login</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Login</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <form class="log-page">
            <h3>Ingresa a tu cuenta</h3>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="input-xlarge" type="text" placeholder="Nombre de usuario">
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <input class="input-xlarge" type="text" placeholder="Contraseña">
            </div>
            <div class="controls form-inline">
                <label class="checkbox"><input type="checkbox" /> Permanecer conectado</label>
                <button class="btn-u pull-right" type="submit"><a href="perfil.html">Iniciar</a></button>
            </div>
            <hr />
            <h4>¿Olvidaste tu contraseña?</h4>
            <p>No te preocupes, haz <a class="color-green" href="#">clic aquí</a> para recuperarlo.</p>
        </form>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}